<div><h1>SCRAPAGE!</h1></div>



<form action="/scraper" method="POST">
<select>
  <option value="quizlet">Quizlet</option>
  <option value="cram">Cram.com</option>
</select>

  <input type="text" name="scrape[url]" placeholder="Enter URL here!"/>
  <input type="submit" value="scrape!"></input>
</form>