#robotainer {
position: absolute;
top: 50%;
left: 50%;
margin-top: -0.75em;
margin-left: -1.5em;
}

#robotainer #bot {
position: absolute;
height: 30px;
width: 50px;
background-color: #bdc3c7;
-webkit-animation: 5s botMotion linear forwards;
}


#robotainer #bot #eyes {
position: absolute;
width: 40px;
height: 20px;
top: 5px;
left: 5px;
background-color: #333;
}

#robotainer #bot #leftarm {
position: absolute;
top: 0;
left: 0;
height: 30px;
width: 25px;
}

#robotainer #bot #rightarm {
position: absolute;
top: 0;
right: 0;
height: 30px;
width: 25px;
}

#robotainer #neck {
position: absolute;
top: 30px;
width: 40px;
height: 3px;
background-color: #333;
margin-left: 5px;
-webkit-animation: 5s neckMotion linear forwards;
animation: 5s neckMotion linear forwards;
}

#robotainer #body {
position: absolute;
top: 33px;
width: 50px;
height: 10px;
background-color: #bdc3c7;
-webkit-animation: 5s bodyMotion linear forwards;
}

#robotainer #legs {
position: absolute;
top: 33px;
left: 25px;
}


